body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    border-width: 2px;
    border-color: purple;
    border-style: solid;
    background-color: rgb(180, 77, 61);
    color: white;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

#display {
    height: 10%;
    width: 50%;
    background-color: grey;
}

button {
    font-size: 40px;
}

#display {
    background-color: white;

}

.main-color {
    background-color: grey;
    color: aqua;
}

.off-color {
    background-color: orangered;
    color: white;
}